/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/
@import "variables-site/variables-site";
@import "mixins/mixins-master";

/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
@import "normalize";

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
@import "typography/typography";

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
@import "elements/elements";

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
@import "forms/forms";

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
@import "navigation/navigation";

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
@import "modules/accessibility";

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
@import "modules/alignments";

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
@import "modules/clearings";

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
@import "site/secondary/widgets";

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
@import "site/site";

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
@import "modules/infinite-scroll";

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
@import "media/media";

/*--------------------------------------------------------------
# Plugins
--------------------------------------------------------------*/
@import "plugins/tec";


html {
	font-size: 112.5%; // bump average base size from 16 to 18px
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	// background: url('../img/lightpaperfibers.png');
	background-size: 250px 150px;
	padding: 0.5rem 0.5rem 0;
	@media screen and (min-width: 37.5em) {
		padding-left: 1rem;
		padding-right: 1rem;
	}
}

.site-branding {
	align-items: center;
	display: flex;
	@media screen and (min-width: 88em) {
		margin-left: -2.5rem;
		transform: rotate(-1deg);
	}
}

.site-logo {
	width: 4rem;
	@media screen and (min-width: 60em) {
		width: 6rem;
	}
}

.site-title {
	font-size: $h2-font-size;
	line-height: 1;
	margin: 0;
	a {
		border: 0;
		font-variation-settings: "wght" 400;
	}
	@media screen and (min-width: 37.5em) {
		font-size: 3.375rem;
	}
}

.site-description {
	@include font-size(0.875);
	font-variation-settings: "wght" 400;
	margin-top: -0.25em;
	margin-bottom: 0;
}

.site-footer {
	background-color: var(--color-primary);
	background: linear-gradient(-10deg, var(--color-secondary) 0%, var(--color-quaternary) 100%);
	padding: 2rem 1rem;
	margin-top: 2rem;
	margin-left: -0.5rem;
	margin-right: -0.5rem;
	@media screen and (min-width: 37.5em) {
		margin-left: -1rem;
		margin-right: -1rem;
	}
}

// Constellation / "SuperParticles" background
#particles {
	opacity: 0.75;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: -1;
}