/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/
@import "variables-site/variables-site";
@import "mixins/mixins-master";

/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
@import "normalize";

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
@import "typography/typography";

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
@import "elements/elements";

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
@import "forms/forms";

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
@import "navigation/navigation";

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
@import "modules/accessibility";

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
@import "modules/alignments";

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
@import "modules/clearings";

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
@import "site/secondary/widgets";

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
@import "site/site";

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
@import "modules/infinite-scroll";

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
@import "media/media";

html {
	font-size: 18px;
}

body {
	// background: url('../img/lightpaperfibers.png');
	background-size: 250px 150px;
	padding: 0.5rem 0.5rem 0;
	@media screen and (min-width: 37.5em) {
		padding-left: 1rem;
		padding-right: 1rem;
	}
}

.site-branding {
	align-items: center;
	display: flex;
}

.site-logo {
	width: 4rem;
	@media screen and (min-width: 60em) {
		width: 6rem;
	}
}

.site-title {
	font-size: 3.375rem;
	line-height: 1;
	margin: 0;
	a {
		border: 0;
		font-variation-settings: "wght" 400;
	}
}

.site-description {
	@include font-size(0.875);
	font-variation-settings: "wght" 400;
	margin-top: -0.25em;
	margin-bottom: 0;
}

.tribe-events .tribe-events-l-container,
.tribe-common--breakpoint-medium.tribe-events .tribe-events-l-container {
	padding-top: 0;
}

div.type-tribe_events {
	display: flex;
	flex-wrap: wrap;
	padding-top: 0.5rem;
	padding-bottom: 0.75rem;

	@media screen and (min-width: 60em) {
		flex-wrap: nowrap;
	}
}

.tribe-events-calendar-list__month-separator {
	font-size: $h3-font-size;
}

// Meta
.event-meta.event {
	&-title,
	&-date,
	&-time,
	&-cost,
	&-age {
		margin-right: 0.5em; // override
	}

	&-date,
	&-time,
	&-cost,
	&-age,
	&-venue {
		background: $color__background-body;
		outline: 0.5em solid $color__background-body;
	}
}

// Event Date
.event-date {
	display: block;

	@media screen and (min-width: 60em) {
		display: inline;
	}
}

// Event Title
.event-title {
	color: var(--color-neutral); // for ellipsis
	font-size: 1rem;
	line-height: 1.125;
	flex: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	position: relative;

	@media screen and (min-width: 37.5em) {
		font-size: 1.25rem;
	}

	@media screen and (min-width: 50em) {
		flex: 1;

		a {
			outline: 0.5em solid $color__background-body;
		}

		&::after {
			background: $color__background-hr;
			content: '';
			height: 1px;
			width: 100%;
			position: absolute;;
			top: 50%;
			z-index: -1;
		}
	}
}

#tribe-events-content.tribe-events-list {
	margin-bottom: 2rem; // override
}

// Subscribe/Export dropdown
.tribe-events-c-subscribe-dropdown__button .tribe-events-c-subscribe-dropdown__button-text {
	align-items: center;
	display: flex;
	padding-right: 0.85rem;
}

// Announcement
.tribe-events-before-html {
	background: $color__background-hr;
	margin-bottom: 2rem;
	padding: 0.5rem 1rem;
	p {
		margin: 0.25em 0;
	}
}

.site-footer {
	background-color: var(--color-primary);
	background: linear-gradient(90deg, var(--color-secondary) 0%, var(--color-tertiary) 100%);
	padding: 2rem 1rem;
	margin-top: 2rem;
	margin-left: -0.5rem;
	margin-right: -0.5rem;
	@media screen and (min-width: 37.5em) {
		margin-left: -1rem;
		margin-right: -1rem;
	}
}

// Constellation / "SuperParticles" background
#particles {
	opacity: 0.75;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: -1;
}