@media screen and (min-width: 37.5em) {

	.site-header,
	.site-main,
	.footer-navigation {
		margin: 0 auto;
		max-width: $size__site-main;
	}

	.site-header {
		position: relative;
		width: 100%;
	}

	// homepage
	.blog .site-main {
		max-width: $size__site-main;
	}
}