@media screen and (min-width: 37.5em) {

	.no-sidebar {

		.site-header,
		.site-main,
		.footer-navigation {
			margin: 0 auto;
			max-width: $size__site-main;
		}

		.site-header {
			padding-bottom: 2rem;
			position: relative;
		}

		// add space for nav
		.site-main {
			padding-right: 4rem;
		}

		// homepage
		&.blog .site-main {
			max-width: $size__site-main;
		}
	}

}