@media screen and (min-width: 37.5em) {

	.no-sidebar {

		.site-header,
		.site-main,
		.footer-navigation {
			margin: 0 auto;
			max-width: $size__site-main;
		}

		.site-main {
			padding-right: 2.5rem;
		}

	}

}