button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.button,
.tribe-common button,
.menu .show-submit a {
	$border: 2px;
	@extend %alt-type;
	box-sizing: border-box;
	cursor: pointer;
	color: $color__text-main;
	background: $color__background-button;
	background-clip: padding-box;
	border: solid 2px transparent;
	cursor: pointer;
	font-family: $font__alt;
	@include font-size(0.75);
	font-weight: 800;
	line-height: 1;
	padding: 0.5rem 1rem 0.5rem;
	position: relative;
	transition: all 0.125s;

	&:before {
	  content: '';
	  position: absolute;
	  top: 0; right: 0; bottom: 0; left: 0;
	  z-index: -1;
	  margin: -$border;
	  border-radius: inherit;
	  background: $color__border-button;
	}

	&:hover {
		color: var(--color-brighter);

		&::before {
			background: $color__border-button-hover;
		}
	}

	&:active,
	&:focus {
		color: var(--color-brighter);

		&::before {
			background: $color__border-button-focus;
		}
	}
}

input[type="submit"],
.usp-submit {
	background: var(--color-secondary);
	margin-top: 1.5rem;

	&:hover,
	&:active,
	&:focus {
		border-color: $color__border-button-hover;
		color: var(--color-brighter);
	}
}