body,
input,
select,
optgroup,
textarea {
	color: $color__text-main;
	font-family: $font__main;
	@include font-size(1);
	line-height: $font__line-height-body;
}

%alt-type {
	font-family: $font__alt;
	letter-spacing: 0.075em;
	text-transform: uppercase;
}

@import "headings";

@import "copy";
