a {
	color: $color__link;
	font-weight: 600;
	font-variation-settings: "wght" 600;
	text-decoration: none;

	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}


// fancy gradient underlines
@media screen and (min-width: 50em) {
	
	.site-content a {
		position: relative;
		text-decoration: underline var(--color-neutral) solid 0.075em;
		transition: all 0.125s;

		&:hover,
		&:focus {
			text-decoration-color: var(--color-contrast);
		}
	}
}