.sticky {
	display: block;
}

.post,
.page {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

// Single Event Page
.tribe-events-single h1 {
	margin-top: 0;
}

// Venues Archive Page
.tribe-venues h2 {
	margin-bottom: 0;
}

.page-header {
	margin-bottom: 2rem;
}