.sticky {
	display: block;
}

.post,
.page {
	margin: 0;
}

.updated:not(.published) {
	display: none;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.page-header {
	margin-bottom: 2rem;
}

.search-results {

	.hentry {
		max-width: 40rem;

		+ .hentry {
			margin-top: 2rem;
		}
	}

	.entry-title {
		font-size: $h3-font-size;
		margin-top: 0.25em;
		margin-bottom: 0.25em;
	}

	.entry-summary p {
		margin-top: 0;
	}
}